@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: auto 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
@keyframes stuckMoveDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.animate-stuckMoveDown {
    animation: stuckMoveDown 0.8s;
}
